@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Alatsi&family=Chilanka&family=Schoolbell&display=swap");
main {
  font-family: "Oswald", sans-serif;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .main-content .left-content {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 10px;
}

.main-container .main-content .left-content img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-container .main-content .left-content .cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .main-content .left-content .cta-container .btn-cta {
  padding: 10px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: red;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 60%;
  font-family: "Oswald", sans-serif;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  max-width: 100%;
}

.main-container .main-content .left-content .cta-container .btn-cta:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: green;
}

.main-container .main-content .left-content .cta-container .total-books {
  text-align: center;
  color: black;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main-container .main-content .right-content {
  font-family: "Oswald", sans-serif;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-container .main-content .right-content #unfinished-book {
  width: 100%;
  margin-right: 10px;
}

.main-container .main-content .right-content #unfinished-book h4 {
  letter-spacing: 5px;
}

.main-container .main-content .right-content #unfinished-book .container {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 15px;
}

.main-container .main-content .right-content #unfinished-book .container .btnSelesai {
  background: url(../asset/finish-line.svg);
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-size: contain;
  border: none;
}

.main-container .main-content .right-content #unfinished-book .container .btnHapus {
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: url(../asset/delete.svg);
  border: none;
  background-size: contain;
}

.main-container .main-content .right-content .finished-book {
  width: 100%;
}

.main-container .main-content .right-content .finished-book h4 {
  letter-spacing: 5px;
}

.main-container .main-content .right-content .finished-book .container {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 15px;
}

.main-container .main-content .right-content .finished-book .container .btnUndo {
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: url(../asset/return.svg);
  border: none;
  background-size: contain;
}

.main-container .main-content .right-content .finished-book .container .btnHapus {
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: url(../asset/delete.svg);
  border: none;
  background-size: contain;
}

.main-container .main-content .right-content .finished-book .container:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 159, 159, 0.2);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
}

.modal-bg .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  width: 30%;
  height: 30%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-bg .modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  width: inherit;
}

.modal-bg .modal form #book-title,
.modal-bg .modal form #book-author,
.modal-bg .modal form #book-year {
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
}

.modal-bg .modal form #btnSave {
  background-color: red;
  border-radius: 30px;
  color: white;
  border-color: white;
  font-family: "Oswald", sans-serif;
  border: none;
}

.modal-bg .modal .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .main-container .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-bg .modal {
    width: 80%;
    height: 50%;
  }
}
/*# sourceMappingURL=main.css.map */